body {
    background-color: antiquewhite;
}

header {
    background-color: teal;
}

main {
    background-color: rgb(172, 211, 198);
}

footer {
    background-color: aliceblue;
    padding-left: 5px;
    border: black solid thin;
    border-radius: 8px;
}
nav {        
    background-color: aliceblue;
    border: 1px green solid;
    padding: 20px;
    margin: 0px 0px 0px 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    padding-left: 100px; 
      
}
img {
    height: 400px;
    width: 350px;
}

img.center {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
   
}

.left {
    float: left;
}

.clear{ 
    clear: both;
}


.li-padding {
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: 10px teal;    
    border-radius: 22px;
    background-color: rgb(148, 255, 193)
}

.li-padding:hover {
    background-color: aqua;
    border-color: white;
}