body {
    background-color: aqua;
}

h1 {
   color:darkred; 
   font-size: "55px";
}

.fit-picture {
    width: 300px;
    height: 300px;
}

footer {
    background-color:aliceblue;
    padding-left: 5px;
    border: black solid thin;
    border-radius: 8px;
}